@model Atm.Web.Models.PinModel

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<h2>Log in</h2>

@Html.ValidationSummary()

@using (Html.BeginForm("ValidatePin", "Login"))
{
    <div>
        <fieldset>

            <div class="editor-label">
                @Html.LabelFor(m => m.Pin)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Pin, new { maxlength = 4 })                
            </div>
            <div>
                <a href="#" id="clear">Clear</a>
            </div>
            <p>
                <input type="submit" value="OK" />
            </p>
        </fieldset>
    </div>
}

@section Scripts {
        
    <script>
        $(document).ready(function () {
            $("input[type=text]").first().focus();

            $('#clear').click(function () {
                $('#Pin').val("");
            });
        });

    </script>
}